.logo {
  max-width: 22rem;
}

.header {
  width: 90vw;
  padding: 1rem 0;
  margin: 45px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img {
    width: 120%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &__container {
      position: relative;
      width: 20rem;
      min-height: 7rem;
      overflow: hidden;
    }
  }

  &:first-child,
  &:last-child {
    flex-grow: 1;
  }
}
