@import "./util/variables";
@import "./util/fonts";
@import "./Banner";
@import "./Header";
@import "./Nav";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    font-size: 10px;
    font-family: 'OuterSans';
    font-weight: 500;
}

body {
    background-color: $black-primary;
    overflow-x: hidden;
}

.logo {
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linejoin:round;
    stroke-miterlimit:2; 

    .en {
        fill:#fff;fill-rule:nonzero;
    }

    .jap {
        fill:#c8383e;fill-rule:nonzero;
    }
}