@import "./util/variables";
@import "./util/fonts";
@import "./Banner";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    font-size: 10px;
    font-family: 'OuterSans';
    font-weight: 500;
}

body {
    background-color: $black-primary;
    overflow-x: hidden;
}