

@font-face {
    font-family: "OuterSansAlt";
    src: url('/fonts/made_outer_sans_alt_black-webfont.woff') format('woff'); 

    font-weight: 900;
}

@font-face {
    font-family: "OuterSansAlt";
    src: url('/fonts/made_outer_sans_alt_regular-webfont.woff') format('woff'); 
    font-weight: 500;
}



@font-face {
    font-family: "OuterSansAltOutline";
    src: url('/fonts/made_outer_sans_outline_alt_regular-webfont.woff') format('woff'); 
    font-weight: 500;
}



@font-face {
    font-family: "OuterSans";
    src: url('/fonts/made_outer_sans_light-webfont.woff') format('woff'); 
    font-weight: 300;
}
